<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
    <link rel="stylesheet" href="vue.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://unpkg.com/vue@2.1.4/dist/vue.js"></script>

	
</head>
<body>



<div id="blog" class="container">
	<div class="center-nav">
		<div class="page-nav">		
		      <div class="button" v-on:click="currentPage -= 1, posts = null">- </div>
		      <label>page: {{ currentPage }}</label>
		      <div class="button" v-on:click="currentPage += 1, posts = null">+</div>
		</div>
	</div>	
<div class="loading"><i v-if="!posts" class="fa fa-spinner fa-spin"></i></div>
    <div v-for="post in posts" class="col-md-4 the-post item" id="posts">
          <a :href="post.link" target="_blank" class="commit">
         <!-- Rendered HTML is templated differently  -->
        <h2 v-html="post.title.rendered"></h2>
          <div v-if="hasThumbnail(post)">
              <img :src="getThumbnail(post)" class="img-fluid"/>           
          </div>
          <div v-else="post"></div>
        <div class="excerpt" v-html="postContent(post)"></div>
        </a>
    </div>
    <div class="page-nav">		
	      <div class="button" v-on:click="currentPage -= 1, posts = null">- </div>
	      <label>page: {{ currentPage }}</label>
	      <div class="button" v-on:click="currentPage += 1, posts = null">+</div>
	</div>
</div>  

<script type="text/javascript" charset="utf-8">
//var blogURL = 'http://fatemaalmalki.georgetown.domains/wp-json/wp/v2/posts?_embed'
var blogURL = 'http://bionicteaching.com/wp-json/wp/v2/posts?_embed&per_page=18&page='


var blog = new Vue({
  el: '#blog',
  
  data: {
		currentPage: 1,
		posts: null
	},
  
  watch: {
		currentPage: 'fetchData'
	},

  created: function () {
    this.fetchData()
  },
  

  methods: {
    fetchData: function () {
      var xhr = new XMLHttpRequest()
      var self = this
      xhr.open('GET', blogURL + self.currentPage )
      xhr.onload = function () {
        self.posts = JSON.parse(xhr.responseText)
        console.log(self.posts)
      }
      xhr.send()
    },

    hasThumbnail: function(post) {
      return post._embedded['wp:featuredmedia'] && post._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail;
   },

    getThumbnail: function (post) {
      return post._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url;
    },

    postContent: function(post){
      return post.excerpt.rendered;
    },

     pageUp: function(){
     this.currentPage = this.currentPage+1
     this.posts = null
   }
  

  }  
  
})
</script>
</body>
</html>